swiper-container{
  width:90%;
  height:80%;
}
swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cool-title{
  color:rgb(238, 230, 230);
}

.custon-bg-color{ 
  --background: rgb(8, 8, 8);
}

.sp-bg-color{
  background: rgb(3, 18, 105);
}
// ESTO APLICA BORDER A TODOS LOS AVATAR
//ion-avatar {
  //--border-radius: 20px;
//}

.style-avatar {
  --border-radius: 25px;
}
.texto-color {
  color: rgb(238, 230, 230);
}