swiper-container{
  width:90%;
  height:80%;
}
swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cool-title{
  color:rgb(165, 8, 8);
}

.custon-bg-color{ 
  --background: aqua;
}

.sp-bg-color{
  background: blueviolet;
}
// ESTO APLICA BORDER A TODOS LOS AVATAR
//ion-avatar {
  //--border-radius: 20px;
//}

.style-avatar {
  --border-radius: 0px;
}